.inscription {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: 100vh;
}

.inscription h1 {
  text-align: center;
  font-size: var(--size-enorme);
  margin-top: 1rem;
}

.inscription .inscrit {
  display: flex;
  flex-direction: column;
}

.inscription .inscrit input {
  padding-left: 9px;
  font-size: var(--size-standard);
  color: var(--color-un);
  border: none;
  border-radius: 4px;
  display: flex;
  height: var(--hauteur-ligne);
}

.inscription .inscrit input::placeholder {
  color: #b0bec5;
}

.inscription .inscrit button {
  margin-top: 1rem;
  align-self: center;
}

.inscription .joueurs {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2rem;
  padding-left: 1rem;
  user-select: none;
}

.inscription .inscrire {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.inscription .inscrire button {
}
