.tableau-des-scores {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tableau-des-scores .partie-tableau {
  display: flex;
  flex-direction: row;
  flex: 7;
}

.tableau-des-scores .partie-commandes {
  flex: 3;
}

.tableau-des-scores h3 {
  min-height: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableau-des-scores h3,
.tableau-des-scores .penalite {
  margin: 0;
  flex: 0 !important;
  padding: 0.5rem 0;
}

.tableau-des-scores .colonne {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--color-bordure);
}

.tableau-des-scores .colonne-joueur:last-child {
  border-right: none;
}

.tableau-des-scores .cellule {
  flex: 1;
  border-bottom: 1px solid var(--color-bordure);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.tableau-des-scores .penalite {
  border-top: 3px solid lavender;
  border-bottom: none;
}

.tableau-des-scores .colonne-des-chiffres {
  font-style: italic;
  max-width: 3rem;
}

.tableau-des-scores .colonne-joueur .cellule {
  letter-spacing: 0.1rem;
}

.tableau-des-scores .colonne-des-chiffres .cellule {
  border: none;
}

.tableau-des-scores .touches {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.tableau-des-scores .fermee {
  background-color: var(--color-deux);
}

.tableau-des-scores .commandes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 7rem;
}

.tableau-des-scores .commandes .la-visite {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}

.tableau-des-scores .commandes .la-visite .resume {
  flex: 1;
}

.tableau-des-scores .commandes .la-visite button {
  font-size: 1.5rem;
  padding: 1rem;
}

.tableau-des-scores .commandes .navigation {
  display: flex;
  justify-content: space-between;
}

.tableau-des-scores .commandes .navigation button {
  font-size: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  height: 2rem;
}
