.tableau-des-scores {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tableau-des-scores > div:first-child {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.tableau-des-scores .commandes {
  padding: 2rem 0;
  font-style: italic;
  background-color: beige;
  font-size: 2rem;
  text-align: center;
}

.tableau-des-scores h3 {
  margin: 0;
  flex: 0 !important;
  padding: 0.5rem 0;
}

.tableau-des-scores .colonne {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  border-right: 1px solid lavender;
}

.tableau-des-scores .colonne-joueur:last-child {
  border-right: none;
}

.tableau-des-scores .cellule {
  flex: 1;
  border-bottom: 1px solid lavender;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableau-des-scores .colonne-des-chiffres {
  font-style: italic;
}

.tableau-des-scores .touches {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.tableau-des-scores .fermee {
  background-color: lavender;
}
